<!doctypehtml>
<html>
  <head>
  	<meta charset="utf8"/>
        <!-- Required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<link rel="icon" href="/favicon.ico" id="favicon">
        <title>uploads</title>
  </head>
  <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  	{%- include "header.html" %}

  	<p class="display-3">Admin</p>
  	<br>
	<form method="POST" action="/admin" enctype="multipart/form-data">
  	  <div class="col-xs-4">
  	    <label for="userName" class="form-label">User Name</label>
  	    <input style="width:150px;" class="form-control" placeholder="Your Name" name="username" type="text"/>
  	  </div>
  	  <br>
  	  <div class="form-group">
  	    <div class="col-xs-4">
  	      <label for="formFileMultiple" class="form-label">upload file</label>
  	      <input style="width:480px;" class="form-control" id="formFileMultiple" name="the_file" type="file"/>
  	    </div>
  	  </div>
  	  <br>
  	 <button type="submit" class="btn btn-primary">Submit</button>
  	</form>

        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="list-group flashes">
        {% for message in messages %}
          <li style="width:480px;" class="text-center list-group-item list-group-item-warning">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% if fileurl %}
        <p>アップロードに成功しました。</p>
        <p>ダウンロードURL:<b><a href="/uploads/{{fileurl}}">{{fileurl}}</a></b></p>
        {% endif %}

        <table>
          <thead>
          <tr>
          <th>id</th>
          <th>filename</th>
          <th>filesize</th>
          <th>upload_date</th>
            <th>管理</th>
          </tr>
          </thead>
          <tbody>
          {% for file in files %}
          <tr>
            <td>{{ file.id }} </td>
            <td><a href="/uploads/{{file.filename}}">{{ file.filename }}</a></td>
            <td>{{ file.filesize }} </td>
            <td>{{ file.upload_date }} </td>
            <td>
              <button onClick="if(confirm('本当に削除しますか？')){location.href = 'delete/{{file.id}}';}">削除</button>
            </td>
           </tr>
           {% endfor %}
           </tbody>
         </table>

  	{%- include "footer.html" %}
  </body>
</html>
